# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
streamlit=0.86.0=pypi_0
scikit-learn=0.23.1=py38h25d0782_0
scipy=1.5.0=py38h9439919_0
seaborn=0.10.1=py_0
pandas=1.0.5=py38h47e9c7a_0
numpy=1.18.5=pypi_0
matplotlib=3.2.2=0